<div class="container">
  <div class="heading text-center w-100 mb-5">
    <h1>JOURNAL</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card p-2 journalCard">
        <img src="../../../assets/userImg.avif" alt="" class="journalImgs" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, omnis.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2 journalCard">
        <img src="../../../assets/userImg.avif" alt="" class="journalImgs" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, omnis.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-2 journalCard">
        <img src="../../../assets/userImg.avif" alt="" class="journalImgs" />
        <h5>Lorem ipsum dolor sit amet.</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, omnis.
        </p>
      </div>
    </div>
  </div>
</div>
