<div class="footerDiv">
  <div class="container socialIcons">
    <img
      src="../../../assets/footerSocialImages/facebook.png"
      alt="facebook"
      class="socialFooterIcons"
    />
    <img
      src="../../../assets/footerSocialImages/instagram (1).png"
      alt=""
      class="socialFooterIcons"
    />
    <img
      src="../../../assets/footerSocialImages/linkedin.png"
      alt=""
      class="socialFooterIcons"
    />
    <img
      src="../../../assets/footerSocialImages/twitter.png"
      alt=""
      class="socialFooterIcons"
    />
  </div>
  <div class="p-3 w-100 text-center">
    <p>© COPYRIGHTS FOLIO. ALL RIGHTS RESERVED.</p>
  </div>
  <div class="w-100 text-center">
    <p>Designed by Zaheer Abbas</p>
  </div>
</div>
