.addressDiv{
    h2{
        font-weight: 800;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.contactFormDiv{
    input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    margin: 5px;
    color: #999999;
    outline: none;
    }
    textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    margin: 5px;
    color: #999999;
    outline: none;
    }
    .sendBtn{
    background: #333;
    width: 100%;
    margin: 5px;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    }
}