<section class="bannerSection">
  <div class="bannerDiv">
    <div class="container bannerText d-flex flex-column">
      <h1 class="tw">I'M Zaheer Abbas</h1>
      <p class="font-weight-bold">
        Designer, Developer, Traveller, Photographer
      </p>
      <div class="socialIcons">
        <img
          src="../../../assets/socialImages/facebook.png"
          alt="facebook"
          class="socialImg"
        />
        <img
          src="../../../assets/socialImages/linkedin.png"
          alt="facebook"
          class="socialImg"
        />
        <img
          src="../../../assets/socialImages/instagram.png"
          alt="facebook"
          class="socialImg"
        />
        <img
          src="../../../assets/socialImages/skype.png"
          alt="facebook"
          class="socialImg"
        />
        <img
          src="../../../assets/socialImages/twitter.png"
          alt="facebook"
          class="socialImg"
        />
      </div>
    </div>
  </div>
</section>
